<% include layouts/template/header.ejs %>
<div class="container-fluid">
<div class="row">
    <div class="col-md-12 text-center">
      <h2 class="h2">Match pets</h2>

      <div class="b-card">

        <ul class="controls list-unstyled">
          <li class="pass">
            <button id="btn-no"class='glyphicon glyphicon-remove'></button>
          </li>
          <li class="like">
            <button id="btn-yes"class='glyphicon glyphicon-ok'></button>
          </li>
        </ul>
        <ul class="items list-unstyled">

          <% users.reverse().forEach(function(user) { %>

            <li class="item" data-id="<%= user._id %>" data-date="<%= new Date(user.createdAt).toISOString() %>" data-type="user">
              <div class="photo">
                <div class="photo-user">
                    <img src="<%= user.profilePic %>" alt="">
                </div>
                <img src="<%= user.dog.picture %>" alt="">
              </div>
              <div class="caption">
                <div class="info">
                  <div class="name"><%= user.dog.name %></div>
                  <div class="age"><%= user.dog.age %></div>
                </div>
              </div>
            </li>

          <% }) %>

          <% matches.reverse().forEach( function(match) { %>

            <li class="item" data-id="<%= match.user1._id %>" data-date="<%= new Date(match.user1.createdAt).toISOString() %>" data-type="match">
              <div class="photo">
                <div class="photo-user">
                    <img src="<%= match.user1.profilePic %>" alt="">
                </div>
                <img src="<%= match.user1.dog.picture %>" alt="">
              </div>
              <div class="caption">
                <div class="info">
                  <div class="name"><%= match.user1.dog.name %></div>
                  <div class="age"><%= match.user1.dog.age %></div>
                </div>
              </div>
            </li>

          <% }) %>

        </ul>
      </div>
    </div>
</div>
</div>
<!-- Button modal fullscreen -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-fullscreen">
    Launch modal fullscreen
</button>

<!-- Modal fullscreen -->
<div class="m-match modal modal-fullscreen fade" id="modal-fullscreen" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h2" id="myModalLabel">New match!</h2>
                <p>Bobby also likes you</p>
            </div>
            <div class="modal-body">
                <div class="b-card-match">
                    <div class="pic">
                        <div class="img-dog">
                            <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="">
                        </div>
                    </div><!--
                    --><div class="pic">
                        <div class="img-dog">
                            <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="">
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="btn btn-success btn-lg btn-custom-color-2" type="button" name="button">Chat with Bobby</button>
                    </div>
                    <div class="buttons">
                        <button class="btn btn-info btn-lg btn-custom-color-2" type="button" name="button">Next dog</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
