<% include ../layouts/template/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="h2">User profile</h2>
      <div class="col-md-12">
        <div class="b-profile">
          <div class="pic">
            <img src="<%= user.profilePic %>" alt="" width="300">
            <span>Owner</span>
          </div>
          <div class="info">
            <small><%= user.fullname %>, <%= user.age %> yrs</small>
          </div>
          <div class="description"><%= user.description %></div>
        </div>
        <div class="b-profile">
          <div class="pic">
            <img src="<%= user.dog.picture %>" alt="" width="300">
          </div>
          <div class="info">
            <small><%= user.dog.breed %></small>
            <small><%= user.dog.name %>, <%= user.dog.age %> yrs</small>
          </div>
          <div class="description">
              <%= user.dog.description %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <a href="/" class="btn btn-success btn-lg btn-custom-color-2">Find a couple</a>
    </div>
  </div>
</div>
