<% include ../layouts/template/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>User profile</h2>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="b-profile dog">
          <div class="pic">
            <img src="<%= user.dog.picture %>" alt="" width="300">
          </div>
          <div class="info">
            <small><%= user.dog.name %>, <%= user.dog.age %>yrs.</small>
            <small><%= user.dog.breed %></small>
          </div>
          <div class="description">
              <%= user.dog.description %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="b-profile user">
          <div class="pic">
            <img src="<%= user.profilePic %>" alt="" width="300">
            <span>Owner</span>
          </div>
          <div class="info">
            <small><%= user.fullname %>, <%= user.age %>yrs</small>
          </div>
          <div class="description"><%= user.description %></div>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-default">Search</button>
    </div>
  </div>
</div>
